<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Web development ebook</title>
      <style>
          .sm-img-box{
            width:50px;
            height:50px; 
            background-color: #d8d8d8;
            float:left;

          }
          .container{
              text-align:center;
          }
         .img-box{
            width:150px;
            height: 100px; 
            background-color: #d8d8d8;
            display: inline-block;
            float:left;
            margin:25px;
         }
      
         .description{
             padding:20px;
         }
     
         .cta-btn{
             float:right;
         }
         button{
             background: #0146c9;
         }
         
    </style>
</head>
<body>
  
<div class="wrapper">
   

   <div class="cta-btn">{{{body}}}</div> 
   
       </div>
</body>
</html>