<section class="py-5">

 <p class="lead">Your initial appointment confirmation email will be sent to you within 1 day.</p>
 <a href='/' class="btn btn-dark btn-lg cta">Go Back To Home Page</a>
</section>

