:root {
  --brand-blue: #0046C9;
  --brand-white: #fff5f5;

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 61.8vh;
    max-height: 400px;
    background: var(--brand-white);
    font-size: 2em;
    overflow: hidden;
    background: var(--brand-white);

  }
  .landingheader{
    font-size:8rem;
    color:transparent;
    z-index:1;
    position:absolute;
    margin-bottom:0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .subhero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 61.8vh;
    font-size:60px;
    max-height: 400px;
    background: var(--brand-white);
    overflow: hidden;
    background: var(--brand-white);
    padding:25px;
    text-align:left;
  }
  .subheader{
    font-size:60px;
    background:var(--brand-white);
    color:var(--brand-white);
    opacity:.68;
    line-height:1.1;
    text-align:center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #secheadline{
    font-size:48px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:lighter;
  }
#pindexitem{
  font-size:16px;
  margin-left:25px;
  margin-right:25px;
  font-weight:normal;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:var(--brand-white);
}
#psubheader{
  font-size:16px;
  margin-left:25px;
  margin-right:25px;
  font-weight:normal;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:var(--brand-white);
}
#pclientcpy{
  font-size:16px;
  margin-left:25px;
  margin-right:25px;
  font-weight:normal;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:var(--brand-white);
}
.mainctawrapper{
  display: flex;
  color: var(--brand-blue);
  text-decoration: none;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.625rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
  #maincta{
    background-color:#FF9000;
    color: var(--brand-white);
    border-radius:25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-transform:uppercase;
    font-size:11px;
    font-weight:500;
  width:144px;
  height:44px;
  position: absolute;
  z-index: 2;
  margin-top:4.625rem;
  }
  #secondarycta{
    margin-left:25px;
    margin-right:25px;
    padding-left:25px;
    padding-right:25px;
    background-color:var(--brand-blue);
    color:var(--brand-white);
    border-radius:25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-transform:uppercase;
    font-size:14px;
    font-weight:medium;
    float:right;
  }

  .clientlogo{
    margin:25px;
  }
  #abvfldcpy{
    font-size:24px;
    margin-top:0px;
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.landingbgimg{
  height:auto;
  width:100%;
  position: absolute;
  z-index: 0;
}
#cursor {
  --size: 2px;
  display: block;
  position: absolute;
  height: var(--size);
  width: var(--size);
  border-radius: ceil(var(--size) / 2);
  background-color: transparent;
  top: -100px;
  left: -100px;
}