.navigation {
  display: flex;
  justify-content: space-evenly;

  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 1.25em;
  background-color:#0146c9;
  color:#ffffff;

}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: currentColor;
}

img{
  width:50px;
  height: auto;
  float:left;
}
.cartimg{
  width: 100px;
    height: auto;
    float: right;
    z-index: 0;
    position: absolute;
}
.mainnav{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width:100%;
}

.navigationItem a:hover {
  color:#ffffff;
  text-decoration: underline;
}
/*#cartcount{
  background-color: red;
  padding-left: 10px;
  width: 100%;
  height: 5%;
  font-size: 8px;
  border-radius: 50%;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 1;
  position: relative;
  margin-left: 50px;
  margin-top: -50px;
  display:none;
}*/

.cartItems{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
}