html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
html { 
  background: url(../pages/AdobeStock_126507566.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width:100%;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 1rem;
  background-color:#0146c9;
  color:#ffffff;
  padding-left:20px;
  padding-right:20px;
  text-transform:uppercase;
  font-size:12px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: .5px;

}

.navigationItem {
  display: inline-flex;
  align-items: center;
}

.navigationItem a {
  color: currentColor;
}

img{
  width:44px;
  height: auto;
  float:left;
}
img.cartimg{
 width: 65px;
 height: auto;
}
.mainnav{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width:100%;
  
}

.navigationItem a:hover {
  color:#ffffff;
  text-decoration: underline;
}
.cartItems{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
}

.logo{
  width:50%;
  height:50%;
}
